name: Infrastructure & Application CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  terraform:
    name: 'Terraform Validation'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.0

      - name: Terraform Init
        run: |
          cd terraform/ENV/prod
          # Using -backend=false to validate logic without requiring AWS credentials for state
          terraform init -backend=false

      - name: Terraform Format
        run: |
          cd terraform/ENV/prod
          terraform fmt -check -recursive

      - name: Terraform Validate
        run: |
          cd terraform/ENV/prod
          terraform validate

      - name: Run Checkov
        uses: bridgecrewio/checkov-action@master
        with:
          directory: terraform/
          framework: terraform
          quiet: true
          soft_fail: true # Don't block the build for demonstrations
